@charset "UTF-8";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
}

.cabecalho {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: brown;
  margin-bottom: 3px;
}

#mapa {
    height: 100%;
    width: 100vw;
}
