@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

html, body, #mapa {
    height: 100%;
    width: 100vw;
}

#paragrafo {
    display: inline;
    text-align: center;
    background-color: rgb(50, 50, 233);
    color: white; 
    font-family:monospace;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
}
div.titulo {
    opacity: 0.6;
}
