@charset "UTF-8";

body {
    margin-top: 10px;
    background-color: #D4DADC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p#titulo {
    background-color: red;
    width: 98%;
    text-align:center;
    color: white;
    font-size: 1em;
}

img#logo-nfl {
    position: absolute;
    top: 0%;
    width: 50px;
}

img#logo-afc-nfc {
    width: 40px;
    height: 40px;
    
}

div#div-tabela {
    display:flex;
    flex-direction:column;
    overflow: auto;
    width: 600px;
}

table#table-afc {    
    border-collapse: collapse;
    text-align: center;
    width: 40%;
}

thead {
    background-color: white;
    font-size: 0.9em;
}

tr {
    font-size: 0.8em;
    font-weight: bold;
}

tr.divisao-escura {
   background-color: rgb(245, 139, 139);
}

tr.divisao-clara {
    background-color: rgb(253, 219, 219);
}

img#logo-times {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

div#mapa {
    position: absolute;
    top: 60px;
    left: 30%;
    height: 83vh;
    width: 80%;
}