@charset "UTF-8";

body {
    margin-top: 10px;
    background-color: #D4DADC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside#informacoes {
    float: top;
    width: 40%;
}

p#titulo {
    background-color: red;
    width: 98%;
    text-align:center;
    color: white;
    font-size: 1em;
}

img#logo-nfl {
    position: absolute;
    top: 0%;
    width: 50px;
}

img#logo-afc-nfc {
    width: 40px;
    height: 40px;
    
}

div#div-tabela {
    float: left;
    bottom: 10%;
    padding: 8px;
    width: 100%;
}

table#table-afc {    
    float: left;
    border-collapse: collapse;
    text-align: center;
    width: 49%;
}

table#table-nfc {  
    float: top;
    border-collapse: collapse;
    text-align: center;
    width: 49%;
}

thead {
    background-color: white;
    font-size: 0.9em;
}

tr {
    font-size: 80%;
    font-weight: bold;
}

tr.divisao-escura-afc {
   background-color: rgb(245, 139, 139);
}

tr.divisao-clara-afc {
    background-color: rgb(253, 219, 219);
}

tr.divisao-escura-nfc {
    background-color: rgba(2, 3, 100, 0.233);
 }
 
 tr.divisao-clara-nfc {
     background-color: rgba(29, 3, 145, 0.164);
 }

img#logo-times {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

div#mapa {
    float: right;
    height: 98vh;
    width: 60%;
    
}