@charset "UTF-8";

body {
    margin-top: 10px;
    background-color: #D4DADC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside#informacoes {
    height: 98vh;
    width: 20vw;    
}

p#titulo {
    font-size: 1.5em;
    background-color: red;
    color: white;
    position: relative;
    bottom: 82px;
    text-align: center;
    z-index: -1; 
    width: 38vw;
}

img#logo-nfl {
    width: 80px;
    height: 80px;
}

img#logo-afc {
    width: 40px;
    height: 40px;
}

div#tabela-afc {
    position: absolute;
    top: 110px;
}

div#tabela-nfc {
    position: absolute;
    left: 375px;
    top: 110px;
}

table {    
    border-collapse: collapse;
    width: 360px;
}

thead {
    background-color: white;
    font-size: 0.9em;
}

td {
    background-color: thistle;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

img#logo-times {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}


main#mapa {
    position: absolute;
    left: 39%;
    height: 98vh;
    width: 60vw;
}